footer{
  border-top: #444444 2px solid;
background-color: black;
  padding: 100px 0;
  .footer_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    .logo-text{
      color: #C0C0C0;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .left-block{
    margin-bottom: 40px;
  }
  .right-block{
    margin-bottom: 40px;
  }

  .email-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    border-top: #999999 2px solid;
    border-bottom: #999999 2px solid;
    .title{
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase
    }
    .subtitle{
      color: #C0C0C0;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    .email{
      position: relative;
      .email-form{
        width: 460px;
        background-color: white;
        color: #C0C0C0;
        padding: 14px 16px;
        border: none;
        border-radius: 12px;
      }
      #footer-submit{
        position: absolute;
        right: 12px;
        bottom: 6px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 12px;
        padding: 8px 16px;

      }
      #footer-submit:hover{
        color: white;
        background-color: #1d1d1d;
      }
      #footer-submit:hover{
        color: white;
        background-color: #424242;
      }
    }
  }
.footer-nav{
  margin-block-start: 0;
  margin-block-end:0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  .nav-title{

    color: #C0C0C0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .link{
    list-style: none;
    a{
      text-decoration: none;
      color: #FFF;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

    }
    a:hover{
      color: #FFF;
      text-decoration: underline;
    }
    a:active{
      color: #FFF;
    }
  }
 li:not(:last-child) {
    margin-bottom: 10px;
  }
}
  .cop{
    padding-top: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .copyright{
      color: #C0C0C0;
    }
    .social{
      display: flex;
      flex-wrap: wrap;
       a svg:hover{
        fill: red;
      }

      .logo:not(:last-child){
        margin-right: 20px;
      }
    }
  }
}