.article {
  padding: 120px 0;
  background-color: black;

  .article-content {
    .article-banner {
      margin-bottom: 32px;

      img {
        width: 100%;
        height: 600px;
      }
    }

    .post-date {
      color: #848484;
    }

    .article-title {
      color: #ffffff;
    }

    .article-text {
      color: white;
    }
  }

  .return-button {
    background-color: white;
    width: fit-content;
    color: black;
    border: 2px solid black;
    border-radius: 16px;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
  }

  .return-button:before {
    content: "\2190";
    margin-right: 10px;
    font-weight: bold;
    font-size: 24px;
  }
  .return-button:hover {
    background-color: #f0f0f0;
    color: #000;
  }

  .return-button:active {
    transform: translateY(2px);
  }
}
