header{
  background: black;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px 24px 32px ;
    .logo{
      max-height: 31px;
    }
    nav{
      padding: 0 0 0 20px;
      ul{
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;

        li{
          a{
            padding: 8px 20px 10px ;
            border-radius: 14px;
            color: white;
            text-decoration: none;
            margin-right: 32px;
            font-size: 15px;
          }
          a:hover{
            background-color: white;
            text-decoration: underline;
            color: black;
          }
          a:active{
            background-color: #d5d5d5;
            text-decoration: underline;
            color: black;
          }
          button{
            //font style
            border: none;
            font-family: 'Poppins' , 'sans-serif';
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #000000;

            padding: 8px 20px 10px ;
            border-radius: 14px;
            background: #FFFFFF;
            cursor: pointer;

          }
          button:hover {
            background-color: #bbbbbb;
            color: black;
          }
        }
      }
    }

  }
  /* Стили для внешнего вида иконки пользователя и всплывающего меню */
  /* Добавили класс hidden для скрытия элементов */
  .user-menu a.hidden {
    display: none;
  }

  /* Добавили стили для видимых элементов */
  .user-menu a.visible {
    display: block;
  }
  .user-icon {
    position: relative;
    margin-left: 17px;

  }

  .user-menu {
    position: absolute;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #FFFFFF; /* Добавляем белую обводку в 1 пиксель */
    display: none;
  }

  /* Добавляем стили для видимости кнопок при наведении */
  .user-icon:hover .user-menu {
    display: block;
  }

  /* Добавляем стили для кнопок всплывающего меню */
  .user-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
  }

}